<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lym.twogoods"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <!-- 添加上网权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 添加上网权限/ -->


    <!-- 百度地图相关权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 百度地图相关权限 -->


    <!-- 文件系统相关权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 系统功能权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 手机震动 权限-->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name="com.lym.twogoods.TwoGoodsApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="EB9ghR01Iudv5OwFAFWVQgBi" />

        <!-- 登录方式选择界面Activity -->
        <activity android:name="com.lym.twogoods.ui.LaunchActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 账号登录 界面Activity -->
        <activity android:name="com.lym.twogoods.ui.LoginActivity" >
        </activity>
        <!-- 注册界面Activity -->
        <activity android:name="com.lym.twogoods.ui.RegisterActivity" >
        </activity>
        <!-- 重置密码界面Activity -->
        <activity android:name="com.lym.twogoods.ui.ResetPasswordActivity" >
        </activity>
        <!-- 新的密码界面Activity -->
        <activity android:name="com.lym.twogoods.ui.NewPasswordActivity" >
        </activity>

        <!-- 主界面Activity -->
        <activity android:name="com.lym.twogoods.ui.MainActivity"
            	  android:launchMode="singleTask">
        </activity>
        <!-- 发布商品Activity -->
        <activity android:name="com.lym.twogoods.publish.ui.PublishGoodsActivity" >
        </activity>
        <!-- 搜索商品Activity -->
        <activity android:name="com.lym.twogoods.index.ui.GoodsSearchActivity" >
        </activity>
        <!-- 商品详情Activity -->
        <activity android:name="com.lym.twogoods.ui.GoodsDetailActivity" 
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTop">
        </activity>
        <!-- 聊天Activity -->
        <activity android:name="com.lym.twogoods.message.ui.ChatActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <!-- 我发布的商品Activity -->
        <activity android:name="com.lym.twogoods.mine.ui.MinePublishActivity" 
            android:launchMode="singleTop">
        </activity>
        <!-- 我关注的商品Activity -->
        <activity android:name="com.lym.twogoods.mine.ui.MineFocusActivity" 
            android:launchMode="singleTop">
        </activity>
        <!-- 选择城市Activity -->
        <activity
            android:name="com.lym.twogoods.nearby.ui.SelectCityActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 添加图片Activity -->
        <activity android:name="com.lym.twogoods.ui.AddPictureActivity" >
        </activity>
        <!-- 个人更多信息Activity -->
        <activity android:name="com.lym.twogoods.ui.PersonalityInfoActivity" 
            android:launchMode="singleTop">
        </activity>
        <!-- 设置Activity -->
        <activity android:name="com.lym.twogoods.ui.SettingsActivity" 
            android:launchMode="singleTop">
        </activity>
        <!-- 店铺详情Activity -->
        <activity android:name="com.lym.twogoods.ui.StoreDetailActivity" 
            android:launchMode="singleTop">
        </activity>
        <!-- 意见反馈Activity -->
        <activity android:name="com.lym.twogoods.ui.FeedbackActivity" >
        </activity>
        <activity android:name="com.lym.twogoods.ui.DisplayPicturesActivity" >
        </activity>
        <!-- 发送图片ACtivity -->
        <activity android:name="com.lym.twogoods.ui.SendPictureActivity" >
        </activity>
        <!-- 显示商品搜索结果Activity -->
        <activity android:name="com.lym.twogoods.index.ui.GoodsSearchResultActivity">
        </activity>

        <!-- 网络状态改变广播接收者 -->
        <receiver
            android:name="com.lym.twogoods.receiver.NetworkBroadcastReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        
        <!-- 未连接网络广播接收者 -->
        <receiver
            android:name="com.lym.twogoods.receiver.NetworkTipsBroadcastReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="networkDisconnect" />
            </intent-filter>
        </receiver>
        
        <!-- 新消息提醒 -->
        <receiver
            android:name="com.lym.twogoods.message.ui.ChatActivity$RefreshBroadCastReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="action.new.message"/>
            </intent-filter>
        </receiver>

        <!-- 使用百度地图必须添加的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:permission="android.permission.BAIDU_LOCATION_SERVICE"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.4" />
            </intent-filter>
        </service>
       <!-- 聊天接收新消息的service --> 
        <service
           android:name="com.lym.twogoods.service.ChatService">
        </service>
    </application>

</manifest>